pi00/data00/history
pi01/data01/history
pi02/data02/history

pi00/data00/geth/*data/*
pi00/data00/geth/nodes/*
pi00/data00/geth/LOCK
pi00/data00/geth/transactions.rlp

pi01/data01/geth/*data/*
pi01/data01/geth/nodes/*
pi01/data01/geth/LOCK
pi01/data01/geth/transactions.rlp

pi02/data02/geth/*data/*
pi02/data02/geth/nodes/*
pi02/data02/geth/LOCK
pi02/data02/geth/transactions.rlp
